web/WEB-INF/wsdl/localhost_8080/WSProyectoCaGuela/WSCaGuela.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://CaGuela/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://CaGuela/" name="WSCaGuela">
<types>
<xsd:schema>
<xsd:import namespace="http://CaGuela/" schemaLocation="http://localhost:8080/WSProyectoCaGuela/WSCaGuela?xsd=1"/>
</xsd:schema>
</types>
<message name="enviarUsuario">
<part name="parameters" element="tns:enviarUsuario"/>
</message>
<message name="enviarUsuarioResponse">
<part name="parameters" element="tns:enviarUsuarioResponse"/>
</message>
<message name="enviarPosicion">
<part name="parameters" element="tns:enviarPosicion"/>
</message>
<message name="enviarPosicionResponse">
<part name="parameters" element="tns:enviarPosicionResponse"/>
</message>
<message name="hola">
<part name="parameters" element="tns:hola"/>
</message>
<message name="holaResponse">
<part name="parameters" element="tns:holaResponse"/>
</message>
<message name="enviarDireccion">
<part name="parameters" element="tns:enviarDireccion"/>
</message>
<message name="enviarDireccionResponse">
<part name="parameters" element="tns:enviarDireccionResponse"/>
</message>
<message name="enviarProducto">
<part name="parameters" element="tns:enviarProducto"/>
</message>
<message name="enviarProductoResponse">
<part name="parameters" element="tns:enviarProductoResponse"/>
</message>
<message name="enviarPedido">
<part name="parameters" element="tns:enviarPedido"/>
</message>
<message name="enviarPedidoResponse">
<part name="parameters" element="tns:enviarPedidoResponse"/>
</message>
<message name="enviarCliente">
<part name="parameters" element="tns:enviarCliente"/>
</message>
<message name="enviarClienteResponse">
<part name="parameters" element="tns:enviarClienteResponse"/>
</message>
<message name="enviarServicio">
<part name="parameters" element="tns:enviarServicio"/>
</message>
<message name="enviarServicioResponse">
<part name="parameters" element="tns:enviarServicioResponse"/>
</message>
<message name="devolverServicio">
<part name="parameters" element="tns:devolverServicio"/>
</message>
<message name="devolverServicioResponse">
<part name="parameters" element="tns:devolverServicioResponse"/>
</message>
<message name="enviarTipoEnvase">
<part name="parameters" element="tns:enviarTipoEnvase"/>
</message>
<message name="enviarTipoEnvaseResponse">
<part name="parameters" element="tns:enviarTipoEnvaseResponse"/>
</message>
<portType name="WSCaGuela">
<operation name="enviarUsuario">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarUsuarioRequest" message="tns:enviarUsuario"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarUsuarioResponse" message="tns:enviarUsuarioResponse"/>
</operation>
<operation name="enviarPosicion">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarPosicionRequest" message="tns:enviarPosicion"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarPosicionResponse" message="tns:enviarPosicionResponse"/>
</operation>
<operation name="hola">
<input wsam:Action="http://CaGuela/WSCaGuela/holaRequest" message="tns:hola"/>
<output wsam:Action="http://CaGuela/WSCaGuela/holaResponse" message="tns:holaResponse"/>
</operation>
<operation name="enviarDireccion">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarDireccionRequest" message="tns:enviarDireccion"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarDireccionResponse" message="tns:enviarDireccionResponse"/>
</operation>
<operation name="enviarProducto">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarProductoRequest" message="tns:enviarProducto"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarProductoResponse" message="tns:enviarProductoResponse"/>
</operation>
<operation name="enviarPedido">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarPedidoRequest" message="tns:enviarPedido"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarPedidoResponse" message="tns:enviarPedidoResponse"/>
</operation>
<operation name="enviarCliente">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarClienteRequest" message="tns:enviarCliente"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarClienteResponse" message="tns:enviarClienteResponse"/>
</operation>
<operation name="enviarServicio">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarServicioRequest" message="tns:enviarServicio"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarServicioResponse" message="tns:enviarServicioResponse"/>
</operation>
<operation name="devolverServicio">
<input wsam:Action="http://CaGuela/WSCaGuela/devolverServicioRequest" message="tns:devolverServicio"/>
<output wsam:Action="http://CaGuela/WSCaGuela/devolverServicioResponse" message="tns:devolverServicioResponse"/>
</operation>
<operation name="enviarTipoEnvase">
<input wsam:Action="http://CaGuela/WSCaGuela/enviarTipoEnvaseRequest" message="tns:enviarTipoEnvase"/>
<output wsam:Action="http://CaGuela/WSCaGuela/enviarTipoEnvaseResponse" message="tns:enviarTipoEnvaseResponse"/>
</operation>
</portType>
<binding name="WSCaGuelaPortBinding" type="tns:WSCaGuela">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="enviarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPosicion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarDireccion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarPedido">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverServicio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="enviarTipoEnvase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSCaGuela">
<port name="WSCaGuelaPort" binding="tns:WSCaGuelaPortBinding">
<soap:address location="http://localhost:8080/WSProyectoCaGuela/WSCaGuela"/>
</port>
</service>
</definitions>